<!-- Overview Section - 3 Card Panel-->
<section id="boxes" class="py-0">
  <div class="container-fluid bg-light">
    <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="card border-dark">
          <div class="card-header">Course Topics</div>
          <div class="card-body text-dark">
            <h5 class="card-title"><a href="">Penetration Testing</a></h3>
            <p class="card-text">Learn the process that goes into improving the defense of applications.</p>
            <h5 class="card-title"><a href="">Automation Attacks</a></h3>
            <p class="card-text">Explore Botnets, DDos, and other automation techniques.</p>
            <h5 class="card-title"><a href="">Network Security</a></h3>
            <p class="card-text">Gain basic understanding of networking and network security vulnerabilities.</p>
            <h5 class="card-title"><a href="">Advanced Topics</a></h3>
            <p class="card-text">Malware Analysis, Cryptography, Blockchains and much more.</p>
          </div>
        </div>
      </div>
      <div class="col-12 py-3 py-md-0 col-md-4">
        <div class="card border-dark">
          <div class="card-header">Exercises</div>
          <div class="card-body text-dark">
            <h5 class="card-title"><a href="">Scanning & Enumeration</a></h3>
            <p class="card-text">Locating and Discovering more about systems on a network using ZenMap.</p>
            <h5 class="card-title"><a href="">DDOS Attack</a></h3>
            <p class="card-text">Get introduced to the basics of a DDos attack by creating one in Python.</p>
            <h5 class="card-title"><a href="">Network Scanning</a></h3>
            <p class="card-text">Demonstration of how website can be attacked with tools like WireShark.</p>
          </div>
        </div>
      </div>
      <div class="col-12 py-1 py-md-0 col-md-4">
        <div class="card border-dark">
          <div class="card-header">What's Next</div>
          <div class="card-body text-dark">
            <h5 class="card-title"><a href="">Sign Up</a></h3>
            <p class="card-text">Sign up using your email and a username</p>
            <h5 class="card-title"><a href="">Complete Course</a></h3>
            <p class="card-text">Go through the course and complete the short quizzes for each section.</p>
            <h5 class="card-title"><a href="">Learn More</a></h3>
            <p class="card-text">Use the Advanced Topics and Additional Resources to expand your knowledge.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
