<!-- Overview Section - 3 Card GROUP -->
<section id="boxes" class="py-0 m-0">
  <div class="container-fluid bg-light">
    <div class="container py-5">
    <div class="row">
      <div class="card-group">
        <div class="card">
          <div class="card-footer">
            <small class="text-muted">Course Topics</small>
          </div>
          <div class="card-body">
            <i class="fas fa-shield-alt my-3" style="height:48px;width:48px;"></i>
            <h4 class="card-title"><a href="">Penetration Testing</a></h4>
            <p class="card-text">Learn the process that goes into improving the defense of applications.</p>
            <h4 class="card-title"><a href="">Automation Attacks</a></h4>
            <p class="card-text">Explore Botnets, DDos, and other automation techniques.</p>
            <h4 class="card-title"><a href="">Network Security</a></h4>
            <p class="card-text">Gain basic understanding of networking and network security vulnerabilities.</p>
            <h4 class="card-title"><a href="">Advanced Topics</a></h4>
            <p class="card-text">Malware Analysis, Cryptography, Blockchains and much more.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-footer">
            <small class="text-muted">Exercises</small>
          </div>
          <div class="card-body">
            <i class="fas fa-laptop my-3" style="height:48px;width:48px;"></i>
            <h4 class="card-title"><a href="">Scanning & Enumeration</a></h4>
            <p class="card-text">Locating and Discovering more about systems on a network using ZenMap.</p>
            <h4 class="card-title"><a href="">DDOS Attack</a></h4>
            <p class="card-text">Get introduced to the basics of a DDos attack by creating one in Python.</p>
            <h4 class="card-title"><a href="">Network Scanning</a></h4>
            <p class="card-text">Demonstration of how website can be attacked with tools like WireShark.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-footer">
            <small class="text-muted">What's Next?</small>
          </div>
          <div class="card-body">
            <i class="fas fa-user-circle my-3" style="height:48px;width:48px;"></i>
            <h4 class="card-title"><a href="">Sign Up</a></h4>
            <p class="card-text">Sign up using your email and a username</p>
            <h4 class="card-title"><a href="">Complete Course</a></h4>
            <p class="card-text">Go through the course and complete the short quizzes for each section.</p>
            <h4 class="card-title"><a href="">Learn More</a></h4>
            <p class="card-text">Use the Advanced Topics and Additional Resources to expand your knowledge.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
