<footer id="main-footer" class="bg-dark text-white mt-3 pt-3 pb-5">
  <div class="container-fluid">
    <ul class="list-inline d-flex justify-content-start">
      <li class="list-inline-item">
        <a href="https://github.com/cyberdefenders" class="text-muted mr-2">GitHub</a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.facebook.com/The-CyberDefenders-Program-971536939653560/" class="text-muted mr-2">Facebook</a>
      </li>
      <li class="list-inline-item">
        <a href="https://medium.com/cyberdefenders" class="text-muted mr-2">Medium</a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="text-muted mr-2">About</a>
      </li>
    </ul>
  </div>
</footer>
