
<nav class="collapse course-links bg-danger" id="course-docs-nav">
  <div class="course-toc-item active">
    <a class="course-toc-link" href="#">
      Getting Started
    </a>

    <ul class="nav course-sidenav">
      <li class="active course-sidenav-active">
        <a href="#">
          Introduction
        </a>
        <a href="#">
          Career Paths
        </a>
        <a href="#">
          Pre-Requisites
        </a>
        <a href="#">
          Tools
        </a>
        <a href="#">
          Testing Environment
        </a>
        <a href="#">
          What's Next
        </a>
      </li>
    </ul>
  </div>

  <div class="course-toc-item">
    <a href="#" class="course-toc-link">
      Penetration Testing
    </a>

    <ul class="nav course-sidenav">
      <li>
        <a href="#">
          Overview
        </a>
        <a href="#">
          Environment Setup
        </a>
        <a href="#">
          Reconaissance & Scanning
        </a>
        <a href="#">
          Lab: Attack Demo
        </a>
        <a href="#">
          Exercise Walkthrough
        </a>
      </li>
    </ul>
  </div>
</nav>
