<!-- Side Navigation for Course Pages -->

<div class="col-12 col-md-3 col-xl-2 py-md-3 course-sidenav bg-light">

  <div class="course-toc-item">
    <a href="#nav-info" class="course-toc-link" data-toggle="collapse" aria-expanded="false" aria-controls="nav-info">Getting Started</a>

    <div class="collapse" id="nav-info">
      <div class="nav">
        <ul class="nav flex-column">
          <li class="nav-item py-0">
            <a href="#" class="nav-link py-1">
              Introduction
            </a>
            <a href="#" class="nav-link py-1">
              Career Paths
            </a>
            <a href="#" class="nav-link py-1">
              Pre-Requisites
            </a>
            <a href="#" class="nav-link py-1">
              Tools
            </a>
            <a href="#" class="nav-link py-1">
              Testing Environment
            </a>
            <a href="#" class="nav-link py-1">
              What's Next
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="course-toc-item">
    <a href="#nav-pen-test" class="course-toc-link" data-toggle="collapse" aria-expanded="false" aria-controls="nav-info">Penetration Testing</a>

    <div class="collapse" id="nav-pen-test">
      <div class="nav">
        <ul class="nav flex-column">
          <li class="nav-item py-0">
            <a href="#" class="nav-link py-1">
              Overview
            </a>
            <a href="#" class="nav-link py-1">
              Environment Setup
            </a>
            <a href="#" class="nav-link py-1">
              Reconaissance & Scanning
            </a>
            <a href="#" class="nav-link py-1">
              Lab: Attack Demo
            </a>
            <a href="#" class="nav-link py-1">
              Exercise Walkthrough
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="course-toc-item">
    <a href="#nav-automation" class="course-toc-link" data-toggle="collapse" aria-expanded="false" aria-controls="nav-info">Automation Attacks</a>

    <div class="collapse" id="nav-automation">
      <div class="nav">
        <ul class="nav flex-column">
          <li class="nav-item py-0">
            <a href="#" class="nav-link py-1">
              Overview
            </a>
            <a href="#" class="nav-link py-1">
              Automation Attacks
            </a>
            <a href="#" class="nav-link py-1">
              Role In Cyber Security
            </a>
            <a href="#" class="nav-link py-1">
              Botnets
            </a>
            <a href="#" class="nav-link py-1">
              Applying Automation
            </a>
            <a href="#" class="nav-link py-1">
              Lab: DDos Attack
            </a>
            <a href="#" class="nav-link py-1">
              Exercise Walkthrough
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="course-toc-item">
    <a href="#nav-network" class="course-toc-link" data-toggle="collapse" aria-expanded="false" aria-controls="nav-info">Network Security</a>

    <div class="collapse" id="nav-network">
      <div class="nav">
        <ul class="nav flex-column">
          <li class="nav-item py-0">
            <a href="#" class="nav-link py-1">
              Overview
            </a>
            <a href="#" class="nav-link py-1">
              Web Browsing End-to-End
            </a>
            <a href="#" class="nav-link py-1">
              Role In Cyber Security
            </a>
            <a href="#" class="nav-link py-1">
              First Step
            </a>
            <a href="#" class="nav-link py-1">
              Second Step
            </a>
            <a href="#" class="nav-link py-1">
              Third Step
            </a>
            <a href="#" class="nav-link py-1">
              Lab: Network Scanning
            </a>
            <a href="#" class="nav-link py-1">
              Exercise Walkthrough
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="course-toc-item">
    <a href="#nav-research" class="course-toc-link" data-toggle="collapse" aria-expanded="false" aria-controls="nav-info">Cyber Security Research</a>

    <div class="collapse" id="nav-research">
      <div class="nav">
        <ul class="nav flex-column">
          <li class="nav-item py-0">
            <a href="#" class="nav-link py-1">
              Overview
            </a>
            <a href="#" class="nav-link py-1">
              Researching
            </a>
            <a href="#" class="nav-link py-1">
              Malware Analysis
            </a>
            <a href="#" class="nav-link py-1">
              Additional Topics
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="course-toc-item">
    <a href="#nav-projects" class="course-toc-link" data-toggle="collapse" aria-expanded="false" aria-controls="nav-info">Project Ideas</a>

    <div class="collapse" id="nav-projects">
      <div class="nav">
        <ul class="nav flex-column">
          <li class="nav-item py-0">
            <a href="#" class="nav-link py-1">
              Overview
            </a>
            <a href="#" class="nav-link py-1">
              Additional Resources
            </a>
            <a href="#" class="nav-link py-1 disabled">
              Example Project A
            </a>
            <a href="#" class="nav-link py-1 disabled">
              Example Project B
            </a>
            <a href="#" class="nav-link py-1 disabled">
              Example Project C
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
