<!-- Side Navigation for Course Pages -->

<div class="col-12 col-md-3 col-xl-2 py-md-4 course-sidenav bg-light">

  <div class="course-toc-item">
    <a href="#nav-info" data-toggle="collapse" aria-expanded="false" aria-controls="nav-info">
      <a class="course-toc-link" href="{{ site.baseurl }}/cyber-security-overview/">Cyber Security Overview</a>
    </a>

    <div class="collapse {{ page.cyber-security-overview }}" id="nav-info">
      <div class="nav">
        <ul class="nav flex-column">
          <li class="nav-item py-0">
            <a href="{{ site.baseurl }}/pre-requisites/" class="nav-link py-1"><i class="far fa-file-alt"></i>
              Pre-Requisites
            </a>
            <a href="{{ site.baseurl }}/cyber-security-overview/" class="nav-link py-1"><i class="fab fa-youtube"></i>
              Career Paths
            </a>
            <a href="{{ site.baseurl }}/cyber-security-overview/" class="nav-link py-1"><i class="far fa-file-alt"></i>
              What's Next
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="course-toc-item">
    <a href="#nav-install" data-toggle="collapse" aria-expanded="false" aria-controls="nav-install">
      <a class="course-toc-link" href="{{ site.baseurl }}/installation/">Install Guide</a>
    </a>

    <div class="collapse {{ page.installation }}" id="nav-install">
      <div class="nav">
        <ul class="nav flex-column">
          <li class="nav-item py-0">
            <a href="{{ site.baseurl }}/installation/" class="nav-link py-1"><i class="far fa-file-alt"></i>
              Environment Setup
            </a>
            <a href="{{ site.baseurl }}/installation/" class="nav-link py-1"><i class="fab fa-youtube"></i>
              VirtualBox
            </a>
            <a href="{{ site.baseurl }}/installation/" class="nav-link py-1"><i class="fab fa-youtube"></i>
              Kali Linux
            </a>
            <a href="{{ site.baseurl }}/installation/" class="nav-link py-1"><i class="fab fa-youtube"></i>
              Windows XP
            </a>
            <a href="{{ site.baseurl }}/installation/" class="nav-link py-1"><i class="fab fa-youtube"></i>
              ZenMap
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="course-toc-item">
    <a href="#nav-pen-test" data-toggle="collapse" aria-expanded="false" aria-controls="nav-pen-test">
      <a class="course-toc-link" href="{{ site.baseurl }}/penetration-testing/">Penetration Testing</a>
    </a>

    <div class="collapse {{ page.penetration-testing }}" id="nav-pen-test">
      <div class="nav">
        <ul class="nav flex-column">
          <li class="nav-item py-0">
            <a href="{{ site.baseurl }}/penetration-testing/" class="nav-link py-1"><i class="fab fa-youtube"></i>
              Lecture
            </a>
            <a href="{{ site.baseurl }}/penetration-testing/" class="nav-link py-1"><i class="fab fa-youtube"></i>
              Lab: Attack Demo
            </a>
            <a href="{{ site.baseurl }}/penetration-testing/" class="nav-link py-1"><i class="far fa-keyboard"></i>
              Pen Test Exercise
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="course-toc-item">
    <a href="nav-automation" data-toggle="collapse" aria-expanded="false" aria-controls="nav-automation">
      <a class="course-toc-link" href="{{ site.baseurl }}/automation-attacks/">Automation Attacks</a>
    </a>

    <div class="collapse {{ page.automation-attacks }}" id="nav-automation">
      <div class="nav">
        <ul class="nav flex-column">
          <li class="nav-item py-0">
            <a href="{{ site.baseurl }}/automation-attacks/" class="nav-link py-1"><i class="fab fa-youtube"></i>
              Lecture
            </a>
            <a href="{{ site.baseurl }}/automation-attacks/" class="nav-link py-1"><i class="fab fa-youtube"></i>
              Lab: DDos Attack
            </a>
            <a href="{{ site.baseurl }}/automation-attacks/" class="nav-link py-1"><i class="far fa-keyboard"></i>
              DDos Exercise
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="course-toc-item">
    <a href="#nav-network" data-toggle="collapse" aria-expanded="false" aria-controls="nav-network">
      <a class="course-toc-link" href="{{ site.baseurl }}/network-security/">Network Security</a>
    </a>

    <div class="collapse {{ page.network-security }}" id="nav-network">
      <div class="nav">
        <ul class="nav flex-column">
          <li class="nav-item py-0">
            <a href="{{ site.baseurl }}/network-security/" class="nav-link py-1"><i class="fab fa-youtube"></i>
              Lecture
            </a>
            <a href="{{ site.baseurl }}/network-security/" class="nav-link py-1"><i class="fab fa-youtube"></i>
              Lab: Network Scanning
            </a>
            <a href="{{ site.baseurl }}/network-security/" class="nav-link py-1"><i class="far fa-keyboard"></i>
              Scanning Exercise
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="course-toc-item">
    <a href="#nav-research" data-toggle="collapse" aria-expanded="false" aria-controls="nav-research"><a class="course-toc-link" href="{{ site.baseurl }}/cyber-security-research/">Cyber Security Research</a></a>

    <div class="collapse {{ page.cyber-security-research }}" id="nav-research">
      <div class="nav">
        <ul class="nav flex-column">
          <li class="nav-item py-0">
            <a href="{{ site.baseurl }}/cyber-security-research/" class="nav-link py-1"><i class="fab fa-youtube"></i>
              Lecture
            </a>
            <a href="{{ site.baseurl }}/cyber-security-research/" class="nav-link py-1"><i class="far fa-file-alt"></i>
              Researching
            </a>
            <a href="{{ site.baseurl }}/cyber-security-research/" class="nav-link py-1"><i class="far fa-file-alt"></i>
              Malware Analysis
            </a>
            <a href="{{ site.baseurl }}/cyber-security-research/" class="nav-link py-1"><i class="far fa-file-alt"></i>
              Additional Topics
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="course-toc-item">
    <a href="nav-projects" data-toggle="collapse" aria-expanded="false" aria-controls="nav-projects"><a class="course-toc-link" href="{{ site.baseurl }}/project-ideas/">Project Ideas</a></a>

    <div class="collapse {{ page.project-ideas }}" id="nav-projects">
      <div class="nav">
        <ul class="nav flex-column">
          <li class="nav-item py-0">
            <a href="{{ site.baseurl }}/project-ideas/" class="nav-link py-1"><i class="fab fa-youtube pr-1"></i>
              Lecture
            </a>
            <a href="{{ site.baseurl }}/project-ideas/" class="nav-link py-1"><i class="far fa-file-alt"></i>
              Additional Resources
            </a>
            <a href="#" class="nav-link py-1 disabled"><i class="far fa-file-alt"></i>
              Example Project
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
