.jumbotron {
	background-image: url('../img/pexels-photo.jpeg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: local;
	min-height: 60%;
	min-height: 60vh;
	display: flex;
	align-items: center;
}
